
.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 450px;
}
.register-form{
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0, 0,0.1);
}
.title{
    color: #000000;
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
}
.form-group{
    margin-bottom: 15px
}
input[type='text'],input[type='password']{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.5em;
}
button{
    border-radius: 5px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    background-color: #304463;
}
button:hover{
    background-color: #3b5a87;
}